:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: #8F8F8F;
}
body {
  margin: 0;
  * {
    box-sizing: border-box;
  }
}

